<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/site", "~/bundles/bootstrap")
    @Scripts.Render("/bundles/jquery", "~/bundles/bootstrap");
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/layout/jquery.layout.js"></script>
    <script src="~/Scripts/wdtree/tree.js"></script>
    <link href="~/Scripts/wdtree/tree.css" rel="stylesheet" />
    <script src="~/Scripts/jqgrid/jqgrid.min.js"></script>
    <link href="~/Scripts/jqgrid/jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jqgrid/grid.locale-cn.js"></script>
    <script src="~/Scripts/framework-ui.js"></script>
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
