<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/site", "~/bundles/bootstrap")
    @*<link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />*@
    @Scripts.Render("/bundles/jquery", "~/bundles/bootstrap");
    @*<script src="~/Scripts/jquery/jquery-2.1.1.min.js"></script>*@
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    @*<script src="~/Scripts/bootstrap/bootstrap.js"></script>*@
    @*<link href="~/Scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/Scripts/layout/jquery.layout.js"></script>
    <script src="~/Scripts/wdtree/tree.js"></script>
    <link href="~/Scripts/wdtree/tree.css" rel="stylesheet" />
    <script src="~/Scripts/jqgrid/jqgrid.min.js"></script>
    <link href="~/Scripts/jqgrid/jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jqgrid/grid.locale-cn.js"></script>
    @*<link href="~/Content/css/framework-ui.css" rel="stylesheet" />*@
    <script src="~/Scripts/framework-ui.js"></script>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
